* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
    background-color: #f1f1f1;
} */

.card-container {
  background-color: #f1f1f1;
  margin: 1rem;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

p {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

h3 {
  margin-top: 0.5rem;
}

.fa-brands {
  font-size: 2rem;
  color: dodgerblue;
}

@media only screen and (max-width: 500px) {
  .card-container {
    flex-direction: column;
  }
}
